<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1>Eldomall</h1>
    <nav>
        <a href="/">Home</a>

        <%if(locals.isLoggedIn){%>

            <a href="/logout">Logout</a>
            <a href="/account">
                <%=locals.user.fullname%>
            </a>

            <%}else{%>

                <a href="/login">Login</a>
                <a href="/signup">Sign up</a>

                <%}%>

    </nav>

    <main>
        <div class="products">
            <%products.forEach(prod=>{%>

                <div class="product">
                    <img src="" alt="">
                    <h3>
                        <%=prod.name%>
                    </h3>
                    <h3>
                        <%=prod.price%>
                    </h3>
                    <button data-product-id="<%=prod.id%>" class="add-to-cart">Add to Cart</button>
                </div>

                <%})%>
        </div>
    </main>


</body>

</html>