<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
</head>

<body>
    <h1>Log in</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/signup">Sign up</a>
    </nav>

    <form action="/login" method="post">
        <label for="email">Email</label> <br>
        <input type="email" id="email" name="email"> <br>

        <label for="password">Password</label> <br>
        <input type="password" id="password" name="password"> <br>

        <%if(locals.errorMessage) {%>

            <p style="color: orangered; font-size:20px">
                <%=locals.errorMessage%>
            </p>

            <%}%>


                <input type="submit" value="Log In">
    </form>


</body>

</html>